<% content_for :for_head do %>
  <script type="text/javascript">
  $(document).ready(function() {
    var counter = 3;
    $('#countdown').text(counter);
    var refresher = setInterval(function() {
      if (counter === 0) {
        window.location.reload(false);
        clearInterval(refresher)
        return;
      }
      --counter;
      $('#countdown').text(counter);
      return counter;
    }, 1000);
  })
  $(document).on('page:load', ready);
  </script>
<% end %>

<h1>Processing...</h1>

Refreshing in <span id="countdown"></span> seconds.
